Source: igestis-iframify
Section: web
Priority: extra
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Build-Depends: debhelper (>= 5), po-debconf
Standards-Version: 3.7.2

Package: igestis-iframify
Architecture: all
Depends: igestis (>= 3), igestis (<= 4)
Description: Add any external website in iGestis menu
 This module allow to create new menu entries in order
 to access on external website within an iframe.
